@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;

  background:
    radial-gradient(
      circle at top left,
      rgba(34,211,238,.12),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(168,85,247,.12),
      transparent 40%
    ),
    #050505;

  color: white;
}